@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

/* Site wide */
* {
    font-family: lora, sans-serif;
    background-color: black;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* The landing page section */

#start {
    text-align: center;
    font-size: 30px;
    margin: auto 20px;
    letter-spacing: 2px;
}

#start-btn {
    margin: 50px 0 0;
    padding: 15px 20px;
    font-size: 25px;
}

/* The quiz */

main {
    width: 60%;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: none;
}

h1 {
    margin: 10px 0;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn {
    padding: 15px 10px;
    margin: 15px 0;
    border: 5px ridge #fff;
    font-size: 20px;
}

#next-btn {
    float: right;
    margin: 0;
    padding: 7px 15px;
}

.btn:hover:not([disabled]), #next-btn:hover {
    box-shadow: 0 0 5px 4px #fff;
}
 
.btn:disabled {
    cursor: no-drop;
}
 /* For answer-buttons to display result */
.correct {
    background-color: green;
}
 
.incorrect {
    background-color: red;
}
 
#quit-btn {
    border: 1px groove red;
}
 
#quit-btn:hover {
    box-shadow: 0 0 2px 1px red;
 
}
/* Scores in quiz */
.score-area p {
    margin: 10px 0;
    text-align: left;
}
 
/* Footer */

footer {
    width: 100%;
    position: sticky;
    font-size: 30px;
    text-align: center;
}
 
footer a {
    padding: 0 30px 10px;
}

/* Media queries for screen size max-width 550px */
 
@media screen and (max-width: 550px ) {

    body {
        font-size: 13px;
    }

    #start {
        font-size: 18px;
    }

    main {
        width: 80%;
    }

    .btn, #start-btn {
        padding: 10px 50px; 
        font-size: 16px;
    }

    #next-btn {
        padding: 5px 7px ;
    }
}